.bg-img {
  animation: rotation 400s infinite linear;
  z-index: -1;
  position: absolute;
  top: -500px;
  left: -100px;
  opacity: 1;
  transform: rotate(90deg);
}

@keyframes rotation{
  from{transform: rotate(0deg)}
  to{transform: rotate(-360deg);}
}
