.container-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em 1em;
}

.planet-name {
  color: rgb(210, 217, 219);
  font-size: 20px;

  /* opacity: 0.7; */
  padding: 0.2em 0;
  text-align: center;
  text-shadow: 2px 2px 5px rgb(28, 2, 33);
}

.planet-img {
  width: 10vw;
}

@media only screen and ( max-width : 560px ) {

  .planet-img {
    min-width: 50px;
    width: 10vw;
  }
}

