.container-planetas {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgb(166, 99, 204);
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgb(28, 2, 33);
  margin-inline: 60px;
}

.first-planets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.second-planets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
