.container-planetas {
  margin-inline: 60px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  border: 2px solid rgb(166, 99, 204);
  box-shadow: 2px 2px 5px rgb(28, 2, 33);
}
