.container-title2 {
  display: flex;
  justify-content: center;
  margin-block: 40px;
}

.title2 {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgb(166, 99, 204);
  border-radius: 2em;

  /* border-radius: 100px 0; */
  box-shadow: 2px 2px 5px rgb(28, 2, 33);
  color: rgb(210, 217, 219);

  /* padding: 5px 20px; */
  padding: 0 0.5em;

}
